* {
  font-size: 12pt;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

@page{
  size: letter portrait;
  margin: 0.75in;
}

:root{
  --page-width: 8.5in;
  --page-height: 11in;
  --main-width: 100%;
  --decorator-horizontal-margin: 0.2in;


  /* XXX: using px for very good precision control */
  --decorator-outer-offset-top: 10px;
  --decorator-outer-offset-left: -5.5px;
  --decorator-border-width: 1px;
  --decorator-outer-dim: 9px;
  --decorator-border: 1px solid #ccc;

  --row-blocks-padding-top: 5pt;
  --date-block-width: 0.75in;

  --main-blocks-title-icon-offset-left: -19pt;
}

b {
    font-weight: bold;
}

body{
  width: var(--page-width);
  margin: 0.75in auto;
  margin-left: 0.75in;
  margin-right: 0.75in;
  height: var(--page-height);
  font-weight: 300;
  line-height: 1.3;
  /*color: #444;*/
  color: #000;
  hyphens: auto;
}

h1, h2, h3{
  margin: 0;
  color: #000;
}

li{
  list-style-type: none;
}

#main{
  float: left;
  width: var(--page-width);
}

/* main */

/** big title **/
#title, h1, h2{
  width: var(--page-width);
  text-transform: uppercase;
}

#title{
  position: relative;
  line-height: 1.2;
}

#title h1{
  font-weight: 300;
  font-size: 16pt;
  line-height: 1.5;
  text-align: center;
}

#title h1 strong{
  margin: auto 2pt auto 4pt;
  font-weight: 600;
}

/*** categorial blocks ***/

.main-block{
  margin-top: 0.00in;
}

a {
  color: black
}

p {
  padding-top: 0px;
  margin-top: 0px;
  display: inline;
  align: left;
  position: relative
}

#course-indent {
  left: 19%;
}

#links {
  position: absolute;
  left: 0.0in;
  align-content: left;
  display: inline;
  top: 0.5px;
  text-transform: none
}

#code-links {
  position: absolute;
  right: 0.0in;
  align-content: right;
  display: inline;
  top: 0.5px;
  text-transform: none
}

#title {
  text-align: center;
  margin-bottom: 5px;
}

#links-title {
  margin-bottom: 3px;
}

#date-title {
  font-weight: normal;
  display: inline;
  float: right;
  position: relative;
  margin-right: 0.0in;
}

#notes {
  margin-top: 2.3%;
  position: absolute;
  left: 6.55in;
  width: 3.5in;
  padding-right: 0.75in;
  text-align: center;
}


#main h2{
  position: relative;
  top: var(--row-blocks-padding-top);
  /* XXX: 0.5px for aligning fx printing */
  font-weight: 400;
  margin-left: 0.3in;
  /*color: #555;*/
  color: #000;
}

#main h2 > i{
  /* use absolute position to prevent icon's width from misaligning title */
  /* assigning a fixed width here is no better due to needing to align decorator
     line too */
  position: absolute;
  left: var(--main-blocks-title-icon-offset-left);
  z-index: 1; /* over decorator line */
  /*color: #444;*/
  color: #000;
}

#main h2::after{ /* extends the decorator line */
  height: calc(var(--row-blocks-padding-top) * 2);
  position: relative;
  /* XXX: 0.5px for aligning fx printing */
  left: calc(-1 * var(--decorator-horizontal-margin));
  display: block;
  border-left: var(--decorator-border);
  z-index: 0;
  line-height: 0;
  font-size: 0;
  content: ' ';
}

/**** minor tweaks on the icon fonts ****/
#main h2 > .fa-graduation-cap{
  left: calc(var(--main-blocks-title-icon-offset-left) - 2pt);
  top: 2pt;
}

#main h2 > .fa-suitcase{
  top: 1pt;
}

#main h2 > .fa-folder-open{
  top: 1.5pt;
}

/**** individual row blocks (date - decorator - details) ****/

.blocks{
  display: flex;
}


.date{
  flex: 0 0 var(--date-block-width);
  padding-top: calc(var(--row-blocks-padding-top) + 2.5pt) !important;
  padding-right: var(--decorator-horizontal-margin);
  text-align: right;
  line-height: 1;
}

.date span{
  display: block;

}

.date span:nth-child(2)::before{
  position: relative;
  top: 1pt;
  right: 5.5pt;
  display: block;
  height: 10pt;
  content: '|';
}

.decorator{
  flex: 0 0 0;
  margin-left: -0.65in;
  position: relative;
  width: 2pt;
  min-height: 100%;
  border-left: var(--decorator-border);
}

/*
 * XXX: Use two filled circles to achieve the circle-with-white-border effect.
 * The normal technique of only using one pseudo element and
 * border: 1px solid white; style makes firefox erroneously either:
 * 1) overflows the grayshade background (if no background-clip is set), or
 * 2) shows decorator line which should've been masked by the white border
 *
 */

.decorator::before{
  position: absolute;
  top: var(--decorator-outer-offset-top);
  left: var(--decorator-outer-offset-left);
  content: ' ';
  display: block;
  width: var(--decorator-outer-dim);
  height: var(--decorator-outer-dim);
  border-radius: calc(var(--decorator-outer-dim) / 2);
  background-color: #fff;
}

.decorator::after{
  position: absolute;
  top: calc(var(--decorator-outer-offset-top) + var(--decorator-border-width));
  left: calc(var(--decorator-outer-offset-left) + var(--decorator-border-width));
  content: ' ';
  display: block;
  width: calc(var(--decorator-outer-dim) - (var(--decorator-border-width) * 2));
  height: calc(var(--decorator-outer-dim) - (var(--decorator-border-width) * 2));
  border-radius: calc((var(--decorator-outer-dim) - (var(--decorator-border-width) * 2)) / 2);
  background-color: #555;
}

.blocks:last-child .decorator{ /* slightly shortens it */
  margin-bottom: 0.25in;
}

/***** fine-tunes on the details block where the real juice is *****/

.details{
  flex: 1 0 0;
  padding-left: var(--decorator-horizontal-margin);
  word-break: break-word;
  hyphens: none;
}

.details header{
  color: #000;
}

.main-block:not(.concise) .details div{
  margin: 0.18in 0.25in 0.1in 0; 
}

.main-block:not(.concise) .blocks:last-child .details div{
  margin-bottom: 0;
}

.main-block.concise .details div:not(.concise){
  /* use padding to work around the fact that margin doesn't affect floated
     neighboring elements */
  padding: 0.05in 0 0.00in 0;
}

.details .place{
  float: left;
}

.details .location{
  position: absolute;
  left: 8.3in;
}

.details div{
  clear: both;
}

.details .location::before{
  position: relative;
  right: 3pt;
  top: 0.25pt;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  content: "\f041";
}

/***** fine-tunes on the lists... *****/

#main ul{
  padding-left: 0.07in;
  margin: 0.0in 0;
}

#main li{
  margin: 0 0 0.025in 0;
}

/****** customize list symbol style ******/
#main li::before{
  position: relative;
  margin-left: -4.25pt;
  content: '• ';
}

.details .concise ul{
  margin: 0 !important;
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
}

.details .concise li{
  margin: 0 !important;
}

.details .concise li{
  margin-left: 0 !important;
}
